/.metadata/
/padrao-facade/nbproject/private/
/padrao-builder/nbproject/private/
/padrao-prototype/nbproject/private/
/hello-sexy/nbproject/private/
/padrao-singleton/nbproject/private/
/padrao-factory-method/nbproject/private/
/padrao-adapter/nbproject/private/
